* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body {
    
    height: 100%;
    width: 100%;

}

body {
    
    align-content: space-around;
    background-color:aliceblue;
    display: grid;
    justify-content: center;

}

#top-window {
    width: 888px;
    height: 512px;
    position: relative;
    border: 2px solid black;
}

canvas { 
    position: absolute; 
}

#game-background {
    z-index: 1;
}

#menu-buttons {
    z-index: 2;
}
